.specials {
  --swiper-navigation-size: 24px;
  --swiper-navigation-sides-offset: 1px;
  --swiper-navigation-color: #702f9f;

  margin-top: 200px;
  margin-bottom: 140px;
  padding: 0 215px;
  background-image: url('../../../public/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 140px;
    color: #fff;
    text-transform: uppercase;

    & h2 {
      font-size: 30px;
      letter-spacing: 1px;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
